@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Asta Sans Variable', sans-serif;
}
/* Fix for autofill */
@layer base {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.05) inset !important;
        -webkit-text-fill-color: white !important;
        caret-color: white !important;
        background-clip: text !important;
        transition: background-color 5000s ease-in-out 0s;
    }

    input:-webkit-autofill:focus {
        border-color: rgba(59, 130, 246, 0.3) !important;
        outline: none !important;
    }

    select:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.05) inset !important;
        -webkit-text-fill-color: white !important;
    }
}